# ==================================================
# Python
# ==================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==================================================
# Virtual Environment
# ==================================================

.venv/
venv/
capstone/

# ==================================================
# OS
# ==================================================

.DS_Store
Thumbs.db

# ==================================================
# Jupyter
# ==================================================

.ipynb_checkpoints/
*-checkpoint.ipynb

# ==================================================
# Deep Learning Models
# ==================================================

*.pt
*.pth
*.onnx

checkpoints/
**/checkpoints/
third_party/sam2/checkpoints/

# ==================================================
# Runtime Outputs
# ==================================================

inputs/
outputs/
*.mp4
# 이미지 및 디버깅용 파일 제외
*.jpg
# 데모 및 테스트용 영상 파일 제외
*.mp4capstone/


# ==================================================
# Temporary Debug Files
# ==================================================

debug_crops/
raw_tracks.json
run_log.txt

# ==================================================
# Build
# ==================================================

*.egg-info/

# ==================================================
# Mac
# ==================================================

*.dmg